.spinner {
    position: fixed;
    background: #f7f7f7b8;
    top: 0;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
