
<div class="row g-5">
    <div class="col-md-8">
        <div class="card mb-4 box-shadow" *ngFor="let post of posts">
            <app-post-item [post]="post"></app-post-item>
        </div>
    </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem">
      <div class="p-4 mb-3 bg-light rounded">
        <h5><strong>All posts!</strong></h5>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse modi odit omnis velit. Aliquam aperiam blanditiis commodi consectetur dignissimos est, expedita facilis impedit maiores quisquam recusandae sapiente ut? Deleniti, minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse modi odit omnis velit. Aliquam aperiam blanditiis commodi consectetur dignissimos est, expedita facilis impedit maiores quisquam recusandae sapiente ut? Deleniti, minus.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse modi odit omnis velit. Aliquam aperiam blanditiis commodi consectetur dignissimos est, expedita facilis impedit maiores quisquam recusandae sapiente ut? Deleniti, minus.
      </div>
    </div>
  </div>

</div>

